<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurante">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".api.VolleySingleton"
        android:allowBackup="true"
        android:icon="@drawable/icon_global"
        android:label="Don Aurelio"
        android:roundIcon="@drawable/icon_global"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurante"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.platos.EditarPlatoActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity
            android:name=".ui.mozos.EditarMozoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.mozos.ListarMozosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.usuarios.EditarUsuarioActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity
            android:name=".ui.platos.ListarPlatosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.platos.AgregarPlatoActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.usuarios.ListarUsuariosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.usuarios.AgregarUsuariosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.mozos.AgregarMozoActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ListaPedidosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".PedidoActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".GestPedidosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.mozos.GestMozosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.platos.GestPlatosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.usuarios.GestUsuariosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.informacion.VisionMisionActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.informacion.QuienesSomosActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.informacion.MapsActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>